*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --bg-color: #121214;
    --purple-color: #8257E5;
    --green-color: #08C05E;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
main{
    width: 50%;
    height: 100%;
    background-color: var(--bg-color);
    color: white;
}

main .logo{
    width: 389px;
    height: 94px;
    margin-left: 30px;
    margin-bottom: 50px;
    
}

main h2{
    display: block;
    font-size: 40px;
    color: var(--green-color);
}

.logo > img{
    max-width: 100%;
    margin-top: 50px;
   
}
.informacoes{
    padding: 10px;
    margin-left: 25px;
    margin-top: 150px;
}

.informacoes h3{
    font-family: 'League Spartan', sans-serif;
    display: block;
    margin-top: 20px;
}

.informacoes p{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
}

.informacoes a{
    display: block;
    margin-top: 20px;
    color: var(--purple-color);
    text-decoration: none;
}


.bg img{
    max-width: 100%;
    width: 100vh;
    height: 100vh;
}
form{
    width: 1000px;
    display: flex;
    margin-bottom: 50px;
}
form button{
   cursor: pointer;
}
form button > i{
    color: white;
    font-size: 25px;
}
input[type=email]{
    border-left: 5px solid var(--green-color);
    padding-left: 8px;
    font-size: 19px;
    width: 800px;
    height: 54px;
}

button{
    bottom: -20px;
    border: 0;
    width: 56px;
    height: 54px;
    background-color: var(--green-color);
}

footer{
    background-color: #2e2e2d;
    padding: 10px;
    display: flex;
    color: white;
}

.made{
    width: 50%;
    text-align: center;
}

.made > a{
    color: white;
    text-decoration: none;
}

.reservado{
    width: 50%;
    text-align: center;

}

@media screen and (max-width: 1024px){

    body{
        background-image: none;
    }
    main{
        width: 100%;
        height: 100%;
    }

    form{
        width: 100%;
        height: 100%;
    }
    input[type=email]{
        width: 85%;
    }

    button{
        width: 15%;
    }

    footer{
        flex: content;
        
    }
}